name: Continuous Integration
env:
   APPLICATION_NAME    : "NyFlask"
   DEPLOY_PACKAGE_NAME : "flask-deploy-ver_${{ github.sha }}"
on:
  push:
    branches:
      - main
jobs:
  my_testing:
    runs-on: ubuntu-latest
    
    steps: 
    - name: Print Hello Messages
      run: echo "Hello World from testing job"

    - name: Execure few commands
       run : |
         echo "Hello Message1"
         echo "Hello Message2"
         echo "Application name: $ {{ env.APPLICATTION_NAME }}"
    
  my_deploy:
    runs-on: ubuntu-latest  
    needs: [my_testing]

    steps: 
    - name: Print Hello Messages
      run: echo "Hello World from Deploy job"
      
    - name: Printing Deployment package
      run : echo "Deploy package name is ${{ env.DEPLOY_PACKAGE-NAME }}"
      
